In [1]:
import pandas as pd
import numpy as np

In [3]:
open = pd.DataFrame(columns = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7'])
non_open = pd.DataFrame(columns = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7'])
output = [0, 99, 198, 297, 396, 495, 594, 693, 792, 891]
graph = pd.DataFrame(columns = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7'])
a = 0

In [24]:
for i in range(100):                                                    # Number of customers

  N = 7                                                                 # Days in a week
  means = np.array([0.064, 0.088, 0.085, 0.077, 0.096, 0.093, 0.077])       # Reward for each day
  prob = np.zeros(N)
  S = np.zeros(N, dtype = int)
  F = np.zeros(N, dtype = int)
  rnd = np.random.RandomState()

  for trial in range(1000):                                             # Number of mails for each card member
    for j in range(N):
      prob[j] = rnd.beta(S[j]+1, F[j]+1)

    machine = np.argmax(prob)

    p = rnd.random_sample()

    if p < means[machine]:
      S[machine] += 1
    else:
      F[machine] += 1
    

 

  open.loc[i] = S
  non_open.loc[i] = F

In [5]:
open.head()

   c1  c2  c3  c4  c5  c6  c7
0   2  14  12  24   5  20   2
1   8  34  18  10  18   0   5
2   3  10   9  11  13  21  13
3  11   9   7   4   9  31   7
4   8   1   1   3  68  11   1

In [6]:
non_open.head()

    c1   c2   c3   c4   c5   c6   c7
0   63  159  153  231   75  192   48
1  110  280  163  124  136   29   65
2   61  142  114  124  125  208  146
3  131  108   94   78  136  273  102
4  103   43   41   65  493  122   40